# Ignore the massive dataset
data/

*.Rhistory
*.zip

# Ignore the virtual environment
.venv/
venv/
elliptic_bitcoin_dataset/*

# Ignore Jupyter and Python system files
.ipynb_checkpoints/
__pycache__/
*.pyc

*.joblib